node_modules/
.wwebjs_auth/
.wwebjs_cache/

config.json
silencio_chats.json
Chave_API.txt
.bak.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

uploads/**
!uploads/
!uploads/ia/
!uploads/ia/.gitkeep
!uploads/fluxos/
!uploads/fluxos/.gitkeep
!uploads/agendamentos/
!uploads/agendamentos/.gitkeep
firebase-service-account.json
